* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #222222;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
  }
  .bg-ash {
    background-color: #222222;
    color: #ccc;
  }
  .navbarLight .navbar-brand{color:#fff}.navbarLight .navbar-brand:focus,.navbarLight .navbar-brand:hover{color:#fff}.navbarLight .navbar-nav .nav-link{color:#ccc;} .navbarLight .navbar-nav .nav-link:focus, .navbarLight .navbar-nav .nav-link:hover{color: #fff}.navbarLight .navbar-nav .nav-link.disabled{color:#F1F1F1}.navbarLight .navbar-nav .active>.nav-link,.navbarLight .navbar-nav .nav-link.active,.navbarLight .navbar-nav .nav-link.show,.navbarLight .navbar-nav .show>.nav-link{color:#fff}.navbarLight .navbar-toggler{outline: none;}.navbarLight .navbar-text{color:#F1F1F1}.navbarLight .navbar-text a{color:#F1F1F1}.navbarLight .navbar-text a:focus,.navbarLight .navbar-text a:hover{color:#fff}.navbar-dark .navbar-brand{color:#F1F1F1}

  #navBrand {
    font-size: 25px !important;
    font-weight: bolder;
    color: #fff;
  }
  .navbar-toggler {
    outline: none !important;
    border: none !important;
  }
  .bgHeader {
    background: url("../img/Vector.png");
      background-size: cover;
      height: 44vh !important;
      padding: 0;
      margin: 0;
      max-width:100%;
      height:auto
  }
  .bg-shade {
    background-color: #000;
    padding: 20px 10px;
  }
  .small {
    font-size: 10px;
  }
  .song {
    text-align: center;
    margin-top: 10px;
  }
  #right {
    font-size: 20rem;
    margin-left: 0.5em;
  }
  .fa-caret-right {
    font-size: 4rem;
    /* margin-top: -10px !important; */
  }
  .footerHr {
    height: 1px;
    width: 100%;
    background-color: #cccccc;
  }
  @media (max-width:640px) {
    .navbar-nav {
      text-align: center !important;
    }
    body {
      background-color: none;
      background-repeat: no-repeat;
      background-size: cover;
    }
    nav {
      background: url("../img/Vector.png");
      background-size: cover;
      height: 50vh !important;
      padding: 0;
      margin: 0;
    }
  }
  