* {
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Montserrat' sans-serif;
}

/* Jumbotron */
.jumbotron{
	background-color: #222;
	color: #DE0909;
	border-radius: 0;
}


/* Print and Edit Button  modification */
.btn-down{
	background-color: #1DA1F2;
	color: #fff;
}
.btn-down2{
	background-color: #3B5998;
	color: #fff;
}

.more-music-border{
	border-bottom: 4px #DE0909 solid !important;

}

.display_mobile{
	display: none;
}



hr{
	
	background-color: red;
	height: 5px;
	width: 83%;
	margin-top: 25px;
}


@media (max-width: 768px){
	hr{
		width: 60%;
	}

	.display_mobile{
		display: initial;
		padding: 6px;

	}

	.display_desktop{
		display: none;
	}


}